@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

body{
    font-family: 'Signika', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #1A191E;
}

.campo{
    margin-bottom: 12px;
}

fieldset{
    width: 400px;
}

#senioridade{
    color: white;
    background: #242425;
    padding: 6px;
    font-family: 'Signika', sans-serif;
    border-radius: 6px;
}

#senioridade:hover{
    color: white;
    background: #424246;
    padding: 6px;
    font-family: 'Signika', sans-serif;
    cursor: pointer;
}

textarea{
    width: 16rem;
    height: 6rem;
    resize: none;

}

button{
    color: white;
    background: #242425;
    padding: 6px;
    font-family: 'Signika', sans-serif;
    border-radius: 6px;
    border: 1px solid white;
}

button:hover{
    color: white;
    background: #424246;
    padding: 6px;
    font-family: 'Signika', sans-serif;
    cursor: pointer;
}